<h1> Book List Editor</h1>
<div class="container">
  <div class="books" [hidden]="allRated">
    <div class="title">
      <p class="info-title">Title: </p>
      <input type="text" class="info-title-text" [(ngModel)]="bookCollection[index].title" [disabled]="!showEdit">
    </div>
    <div class="desc">
      <p class="info-desc">Description: </p>
      <textarea rows="5" cols="50" [(ngModel)]="bookCollection[index].description" [disabled]="!showEdit"></textarea>
    </div>
    <div class="author">
      <p class="info-author">Author:</p>
      <input type="text" class="info-author-text" [(ngModel)]="bookCollection[index].author" [disabled]="!showEdit">
    </div>
    <div class="rating">
      <p class="info-rating">Current Rating:</p>
      <p class="info-rating-text">{{bookCollection[index].rating}}/5</p>
    </div>

    <div class="btn-rating">
      <h3><i>Rate this book</i></h3>
      <ul>
        <li>
          <button (click)="getValue(1)">
            1
          </button>
        </li>
        <li>
          <button (click)="getValue(2)">
            2
          </button>
        </li>
        <li>
          <button (click)="getValue(3)">
            3
          </button>
        </li>
        <li>
          <button (click)="getValue(4)">
            4
          </button>
        </li>
        <li>
          <button (click)="getValue(5)">
            5
          </button>
        </li>

      </ul>

    </div>
    @if(rated){
    <div class="edit">
      <button class="btn-edit" (click)="editBook()" [disabled]="!rated">
        Edit Book
      </button>
    </div>

    }

    @if(showSave){
    <div class="edit">
      <button class="btn-save" (click)="saveEdit()" [disabled]="!showSave">
        Save Changes
      </button>
    </div>

    }


  </div>
  @if(allRated){
  <div class="finished">
    <h3 [hidden]="exitVar">You have rated all books successfully!</h3>
    <button class="finished-button" (click)="rateAgain()" [hidden]="exitVar">I want to rate again</button>
    <button class="finished-button" (click)="exit()" [hidden]="exitVar">No, I'm good</button>
    @if(exitVar)
    {
    <h3>You have rated all books successfully!</h3>
    <h3>Have a nice day!</h3>
    <h4>Made by <b>Kristiyan Kraev</b></h4>

    }
  </div>
  }

</div>